name: Build
on: [push]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install maturin
        run: pipx install maturin
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Build
        run: make build
      - name: Install
        run: make install
      - name: Test
        run: make test

  # build-wheel:
  #   strategy:
  #     matrix:
  #       os: [ubuntu-latest, macos-latest]
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.6
  #         architecture: x64
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #         profile: minimal
  #     - name: Build Wheels
  #       uses: messense/maturin-action@v1
  #       with:
  #         maturin-version: latest
  #         manylinux: auto
  #     - name: Install built wheel
  #       run: |
  #         pip install snake_egg --no-index --find-links ./target/wheels --force-reinstall
  #         python -c "import snake_egg"
  #     - name: Upload wheels
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: wheels
  #         path: ./target/wheels
